USE [DT_DB]
GO
/****** Object:  User [user_admin]    Script Date: 12/7/2025 11:28:07 PM ******/
CREATE USER [user_admin] FOR LOGIN [login_admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [user_khach]    Script Date: 12/7/2025 11:28:07 PM ******/
CREATE USER [user_khach] FOR LOGIN [login_khach] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [user_quanly]    Script Date: 12/7/2025 11:28:07 PM ******/
CREATE USER [user_quanly] FOR LOGIN [login_quanly] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [role_admin]    Script Date: 12/7/2025 11:28:07 PM ******/
CREATE ROLE [role_admin]
GO
/****** Object:  DatabaseRole [role_khach]    Script Date: 12/7/2025 11:28:07 PM ******/
CREATE ROLE [role_khach]
GO
/****** Object:  DatabaseRole [role_quanly]    Script Date: 12/7/2025 11:28:07 PM ******/
CREATE ROLE [role_quanly]
GO
ALTER ROLE [role_admin] ADD MEMBER [user_admin]
GO
ALTER ROLE [role_khach] ADD MEMBER [user_khach]
GO
ALTER ROLE [role_quanly] ADD MEMBER [user_quanly]
GO
/****** Object:  UserDefinedFunction [dbo].[fun_check_account]    Script Date: 12/7/2025 11:28:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- FUNCTION 1: Kiểm tra tài khoản
CREATE FUNCTION [dbo].[fun_check_account](@user NVARCHAR(100), @pass NVARCHAR(255))
RETURNS INT
AS
BEGIN
    DECLARE @result INT = 0;
    IF EXISTS (
        SELECT 1 FROM NGUOIDUNG 
        WHERE TenNguoiDung = @user AND MatKhau = @pass AND TrangThai = 'HoatDong'
    )
        SET @result = 1;
    RETURN @result;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fun_get_revenue_by_date]    Script Date: 12/7/2025 11:28:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- FUNCTION 2: Tính doanh thu theo ngày
CREATE FUNCTION [dbo].[fun_get_revenue_by_date](@Ngay DATE)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @DoanhThu DECIMAL(18,2);
    SELECT @DoanhThu = ISNULL(SUM(TongTien), 0)
    FROM HOADON
    WHERE CONVERT(DATE, NgayLap) = @Ngay AND TrangThai = N'Đã thanh toán';
    RETURN @DoanhThu;
END;
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 12/7/2025 11:28:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MaNCC] [char](10) NOT NULL,
	[TenNCC] [nvarchar](100) NOT NULL,
	[SDT] [varchar](15) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[Email] [varchar](100) NULL,
	[TrangThai] [varchar](20) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHMUC]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUC](
	[MaDM] [char](10) NOT NULL,
	[TenDM] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[TrangThai] [varchar](20) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MaSP] [char](10) NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[DonGia] [decimal](18, 2) NULL,
	[DonViTinh] [nvarchar](20) NULL,
	[SoLuongTon] [int] NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[MoTa] [nvarchar](1000) NULL,
	[MaNCC] [char](10) NULL,
	[MaDM] [char](10) NULL,
	[TrangThai] [varchar](20) NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SanPhamDayDu]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- VIEW 1: Sản phẩm đầy đủ
CREATE VIEW [dbo].[vw_SanPhamDayDu]
AS
SELECT 
    s.MaSP, s.TenSP, s.DonGia, s.DonViTinh, s.SoLuongTon, s.HinhAnh, s.MoTa,
    dm.TenDM AS DanhMuc, ncc.TenNCC AS NhaCungCap, s.TrangThai
FROM SANPHAM s
LEFT JOIN DANHMUC dm ON s.MaDM = dm.MaDM
LEFT JOIN NHACUNGCAP ncc ON s.MaNCC = ncc. MaNCC;
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[MaUser] [char](10) NOT NULL,
	[TenNguoiDung] [nvarchar](100) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[Email] [varchar](100) NULL,
	[SDT] [varchar](15) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[Role] [varchar](20) NOT NULL,
	[TrangThai] [varchar](20) NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHD] [char](10) NOT NULL,
	[NgayLap] [date] NOT NULL,
	[TongTien] [decimal](18, 2) NULL,
	[TrangThai] [nvarchar](30) NULL,
	[PhuongThucTT] [nvarchar](20) NULL,
	[MaKH] [char](10) NULL,
	[MaQL] [char](10) NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_HoaDonChiTiet]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- VIEW 2: Hóa đơn chi tiết
CREATE VIEW [dbo].[vw_HoaDonChiTiet]
AS
SELECT 
    h.MaHD, h. NgayLap, kh.TenNguoiDung AS KhachHang, kh. SDT AS SDT_KhachHang,
    ql.TenNguoiDung AS QuanLy, h.TongTien, h. TrangThai, h.PhuongThucTT
FROM HOADON h
LEFT JOIN NGUOIDUNG kh ON h.MaKH = kh.MaUser
LEFT JOIN NGUOIDUNG ql ON h.MaQL = ql.MaUser;
GO
/****** Object:  Table [dbo].[GIOHANG]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIOHANG](
	[MaGH] [int] IDENTITY(1,1) NOT NULL,
	[MaUser] [char](10) NOT NULL,
	[MaSP] [char](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[NgayThem] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_GioHangDayDu]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_GioHangDayDu]
AS
SELECT 
    g.MaGH, g.MaUser, g.SoLuong, g.DonGia, g.NgayThem,
    g.SoLuong * g.DonGia AS ThanhTien,
    s.MaSP, s.TenSP, s.HinhAnh, s.SoLuongTon,
    nd.TenNguoiDung, nd.Email
FROM GIOHANG g
INNER JOIN SANPHAM s ON g.MaSP = s.MaSP
INNER JOIN NGUOIDUNG nd ON g.MaUser = nd.MaUser;
GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANG](
	[MaDH] [char](10) NOT NULL,
	[MaUser] [char](10) NOT NULL,
	[NgayDat] [datetime] NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
	[DiaChiGiao] [nvarchar](200) NULL,
	[SDT] [varchar](15) NULL,
	[GhiChu] [nvarchar](500) NULL,
	[PhuongThucTT] [nvarchar](30) NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDONHANG]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONHANG](
	[MaCTDH] [int] IDENTITY(1,1) NOT NULL,
	[MaDH] [char](10) NOT NULL,
	[MaSP] [char](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[ThanhTien]  AS ([SoLuong]*[DonGia]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[MaCTDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_DonHangDayDu]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_DonHangDayDu]
AS
SELECT 
    dh.MaDH, dh.MaUser, dh. NgayDat, dh. TongTien, dh.TrangThai,
    dh.DiaChiGiao, dh.SDT, dh.GhiChu, dh.PhuongThucTT,
    nd.TenNguoiDung, nd.Email,
    COUNT(ct.MaCTDH) AS SoLuongSanPham
FROM DONHANG dh
INNER JOIN NGUOIDUNG nd ON dh.MaUser = nd.MaUser
LEFT JOIN CHITIETDONHANG ct ON dh.MaDH = ct.MaDH
GROUP BY dh.MaDH, dh.MaUser, dh.NgayDat, dh.TongTien, dh.TrangThai,
         dh.DiaChiGiao, dh.SDT, dh.GhiChu, dh.PhuongThucTT,
         nd.TenNguoiDung, nd.Email;
GO
/****** Object:  Table [dbo].[AUDITLOG]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUDITLOG](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](50) NULL,
	[Operation] [nvarchar](20) NULL,
	[MaUser] [char](10) NULL,
	[NgayThucHien] [datetime] NULL,
	[NoiDung] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BACKUP_HISTORY]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BACKUP_HISTORY](
	[BackupID] [int] IDENTITY(1,1) NOT NULL,
	[BackupType] [nvarchar](20) NULL,
	[BackupPath] [nvarchar](500) NULL,
	[BackupSize] [bigint] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
	[ErrorMessage] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[BackupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHOADON]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHOADON](
	[MaHD] [char](10) NOT NULL,
	[MaSP] [char](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[ThanhTien]  AS ([SoLuong]*[DonGia]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONNHAPHANG]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONNHAPHANG](
	[MaHDN] [char](10) NOT NULL,
	[NgayNhap] [date] NOT NULL,
	[TongTien] [decimal](18, 2) NULL,
	[MaNCC] [char](10) NOT NULL,
	[MaQL] [char](10) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [varchar](20) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MaHDN] [char](10) NOT NULL,
	[MaSP] [char](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGiaNhap] [decimal](18, 2) NOT NULL,
	[ThanhTien]  AS ([SoLuong]*[DonGiaNhap]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[MaHDN] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM_BACKUP_20250115]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM_BACKUP_20250115](
	[MaSP] [char](10) NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[DonGia] [decimal](18, 2) NULL,
	[DonViTinh] [nvarchar](20) NULL,
	[SoLuongTon] [int] NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[MoTa] [nvarchar](1000) NULL,
	[MaNCC] [char](10) NULL,
	[MaDM] [char](10) NULL,
	[TrangThai] [varchar](20) NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AUDITLOG] ON 

INSERT [dbo].[AUDITLOG] ([LogID], [TableName], [Operation], [MaUser], [NgayThucHien], [NoiDung]) VALUES (1, N'NGUOIDUNG', N'INSERT', NULL, CAST(N'2025-11-26T17:04:02.210' AS DateTime), N'Tạo người dùng: Procedure Test User')
INSERT [dbo].[AUDITLOG] ([LogID], [TableName], [Operation], [MaUser], [NgayThucHien], [NoiDung]) VALUES (2, N'HOADONNHAPHANG', N'INSERT', NULL, CAST(N'2025-11-26T17:04:02.303' AS DateTime), N'Nhập hàng: HDN001    ')
INSERT [dbo].[AUDITLOG] ([LogID], [TableName], [Operation], [MaUser], [NgayThucHien], [NoiDung]) VALUES (3, N'HOADON', N'INSERT', NULL, CAST(N'2025-11-26T17:04:02.373' AS DateTime), N'Bán hàng: HD001     ')
SET IDENTITY_INSERT [dbo].[AUDITLOG] OFF
GO
SET IDENTITY_INSERT [dbo].[CHITIETDONHANG] ON 

INSERT [dbo].[CHITIETDONHANG] ([MaCTDH], [MaDH], [MaSP], [SoLuong], [DonGia]) VALUES (1, N'DH001     ', N'SP015     ', 1, CAST(25990000.00 AS Decimal(18, 2)))
INSERT [dbo].[CHITIETDONHANG] ([MaCTDH], [MaDH], [MaSP], [SoLuong], [DonGia]) VALUES (2, N'DH001     ', N'SP016     ', 6, CAST(13990000.00 AS Decimal(18, 2)))
INSERT [dbo].[CHITIETDONHANG] ([MaCTDH], [MaDH], [MaSP], [SoLuong], [DonGia]) VALUES (3, N'DH002     ', N'SP015     ', 1, CAST(25990000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[CHITIETDONHANG] OFF
GO
INSERT [dbo].[CTHOADON] ([MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (N'HD001     ', N'SP001     ', 2, CAST(25000000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[DANHMUC] ([MaDM], [TenDM], [MoTa], [HinhAnh], [TrangThai], [NgayTao]) VALUES (N'DM001     ', N'iPhone', N'Dòng Apple', N'dm_iphone.jpg', N'HoatDong', CAST(N'2025-11-26T17:03:41.350' AS DateTime))
INSERT [dbo].[DANHMUC] ([MaDM], [TenDM], [MoTa], [HinhAnh], [TrangThai], [NgayTao]) VALUES (N'DM002     ', N'Samsung', N'Dòng Samsung', N'dm_samsung.jpg', N'HoatDong', CAST(N'2025-11-26T17:03:41.350' AS DateTime))
INSERT [dbo].[DANHMUC] ([MaDM], [TenDM], [MoTa], [HinhAnh], [TrangThai], [NgayTao]) VALUES (N'DM003     ', N'Oppo', N'Dòng Oppo', N'dm_oppo.jpg', N'HoatDong', CAST(N'2025-11-26T17:03:41.350' AS DateTime))
GO
INSERT [dbo].[DONHANG] ([MaDH], [MaUser], [NgayDat], [TongTien], [TrangThai], [DiaChiGiao], [SDT], [GhiChu], [PhuongThucTT], [NgayCapNhat]) VALUES (N'DH001     ', N'US006     ', CAST(N'2025-11-28T19:16:14.480' AS DateTime), CAST(109930000.00 AS Decimal(18, 2)), N'Chờ xác nhận', N'4/7 lưu chí hiếu', N'0929323231', N'', N'COD', CAST(N'2025-11-28T19:16:14.747' AS DateTime))
INSERT [dbo].[DONHANG] ([MaDH], [MaUser], [NgayDat], [TongTien], [TrangThai], [DiaChiGiao], [SDT], [GhiChu], [PhuongThucTT], [NgayCapNhat]) VALUES (N'DH002     ', N'US006     ', CAST(N'2025-11-28T19:28:09.390' AS DateTime), CAST(25990000.00 AS Decimal(18, 2)), N'Chờ xác nhận', N'4/7 lưu chí hiếu', N'0929323231', N'', N'COD', CAST(N'2025-11-28T19:28:09.693' AS DateTime))
INSERT [dbo].[DONHANG] ([MaDH], [MaUser], [NgayDat], [TongTien], [TrangThai], [DiaChiGiao], [SDT], [GhiChu], [PhuongThucTT], [NgayCapNhat]) VALUES (N'DH003     ', N'US006     ', CAST(N'2025-11-28T19:28:36.673' AS DateTime), CAST(25990000.00 AS Decimal(18, 2)), N'Chờ xác nhận', N'4/7 lưu chí hiếu', N'0929323231', N'', N'Momo', CAST(N'2025-11-28T19:28:36.717' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[GIOHANG] ON 

INSERT [dbo].[GIOHANG] ([MaGH], [MaUser], [MaSP], [SoLuong], [DonGia], [NgayThem]) VALUES (7, N'US002     ', N'SP023     ', 1, CAST(9990000.00 AS Decimal(18, 2)), CAST(N'2025-12-01T12:57:42.027' AS DateTime))
SET IDENTITY_INSERT [dbo].[GIOHANG] OFF
GO
INSERT [dbo].[HOADON] ([MaHD], [NgayLap], [TongTien], [TrangThai], [PhuongThucTT], [MaKH], [MaQL], [GhiChu], [NgayTao]) VALUES (N'HD001     ', CAST(N'2025-11-26' AS Date), CAST(50000000.00 AS Decimal(18, 2)), N'Đã thanh toán', N'Tiền mặt', N'US003     ', N'US002     ', NULL, CAST(N'2025-11-26T17:04:02.347' AS DateTime))
GO
INSERT [dbo].[HOADONNHAPHANG] ([MaHDN], [NgayNhap], [TongTien], [MaNCC], [MaQL], [GhiChu], [TrangThai], [NgayTao]) VALUES (N'HDN001    ', CAST(N'2025-11-26' AS Date), CAST(2000000000.00 AS Decimal(18, 2)), N'NCC001    ', N'US002     ', NULL, N'DaHoanThanh', CAST(N'2025-11-26T17:04:02.277' AS DateTime))
GO
INSERT [dbo].[NGUOIDUNG] ([MaUser], [TenNguoiDung], [MatKhau], [Email], [SDT], [DiaChi], [Role], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (N'US001     ', N'Administrator', N'123', N'admin@dt.com', NULL, NULL, N'admin', N'HoatDong', CAST(N'2025-11-26T17:03:41.333' AS DateTime), CAST(N'2025-11-26T17:03:41.333' AS DateTime))
INSERT [dbo].[NGUOIDUNG] ([MaUser], [TenNguoiDung], [MatKhau], [Email], [SDT], [DiaChi], [Role], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (N'US002     ', N'Nguyễn Quản Lý', N'123', N'ql@dt.com', N'0909000001', N'Q1, TP. HCM', N'quanly', N'HoatDong', CAST(N'2025-11-26T17:03:41.333' AS DateTime), CAST(N'2025-11-26T17:03:41.333' AS DateTime))
INSERT [dbo].[NGUOIDUNG] ([MaUser], [TenNguoiDung], [MatKhau], [Email], [SDT], [DiaChi], [Role], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (N'US003     ', N'Nguyễn Khách Hàng', N'123', N'khach@dt.com', N'0909000002', N'Q1, TP.HCM', N'khach', N'HoatDong', CAST(N'2025-11-26T17:03:41.333' AS DateTime), CAST(N'2025-11-26T17:03:41.333' AS DateTime))
GO
INSERT [dbo].[NHACUNGCAP] ([MaNCC], [TenNCC], [SDT], [DiaChi], [Email], [TrangThai], [NgayTao]) VALUES (N'NCC001    ', N'Apple Việt Nam', N'0901111111', N'TP. HCM', N'apple@vn.com', N'HoatDong', CAST(N'2025-11-26T17:03:41.360' AS DateTime))
INSERT [dbo].[NHACUNGCAP] ([MaNCC], [TenNCC], [SDT], [DiaChi], [Email], [TrangThai], [NgayTao]) VALUES (N'NCC002    ', N'Samsung Việt Nam', N'0902222222', N'TP. HCM', N'samsung@vn.com', N'HoatDong', CAST(N'2025-11-26T17:03:41.360' AS DateTime))
INSERT [dbo].[NHACUNGCAP] ([MaNCC], [TenNCC], [SDT], [DiaChi], [Email], [TrangThai], [NgayTao]) VALUES (N'NCC003    ', N'Oppo Việt Nam', N'0903333333', N'TP.HCM', N'oppo@vn. com', N'HoatDong', CAST(N'2025-11-26T17:03:41.360' AS DateTime))
GO
INSERT [dbo].[PHIEUNHAP] ([MaHDN], [MaSP], [SoLuong], [DonGiaNhap]) VALUES (N'HDN001    ', N'SP001     ', 100, CAST(20000000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [DonGia], [DonViTinh], [SoLuongTon], [HinhAnh], [MoTa], [MaNCC], [MaDM], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (N'SP001     ', N'iPhone 14 Pro Max', CAST(25000000.00 AS Decimal(18, 2)), N'Chiếc', 148, N'iphone-14-pro-max.jpg', N'iPhone 14 Pro Max cao cấp', N'NCC001    ', N'DM001     ', N'HoatDong', CAST(N'2025-11-26T17:03:41.380' AS DateTime), CAST(N'2025-11-26T17:04:02.370' AS DateTime))
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [DonGia], [DonViTinh], [SoLuongTon], [HinhAnh], [MoTa], [MaNCC], [MaDM], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (N'SP002     ', N'iPhone 15 Pro Max', CAST(23000000.00 AS Decimal(18, 2)), N'Chiếc', 60, N'iphone-15-pro-max.jpg', N'iPhone 15 Pro Max mới nhất', N'NCC001    ', N'DM001     ', N'HoatDong', CAST(N'2025-11-26T17:03:41.380' AS DateTime), CAST(N'2025-11-26T17:03:41.380' AS DateTime))
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [DonGia], [DonViTinh], [SoLuongTon], [HinhAnh], [MoTa], [MaNCC], [MaDM], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (N'SP003     ', N'Samsung S20 Ultra', CAST(18000000.00 AS Decimal(18, 2)), N'Chiếc', 50, N'dienthoaisamsung.jpg', N'Samsung S20 Ultra', N'NCC002    ', N'DM002     ', N'HoatDong', CAST(N'2025-11-26T17:03:41.380' AS DateTime), CAST(N'2025-11-26T17:03:41.380' AS DateTime))
GO
INSERT [dbo].[SANPHAM_BACKUP_20250115] ([MaSP], [TenSP], [DonGia], [DonViTinh], [SoLuongTon], [HinhAnh], [MoTa], [MaNCC], [MaDM], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (N'SP001     ', N'iPhone 14 Pro Max', CAST(25000000.00 AS Decimal(18, 2)), N'Chiếc', 148, N'dienthoaiiphone. jpg', N'iPhone 14 Pro Max cao cấp', N'NCC001    ', N'DM001     ', N'HoatDong', CAST(N'2025-11-26T17:03:41.380' AS DateTime), CAST(N'2025-11-26T17:04:02.370' AS DateTime))
INSERT [dbo].[SANPHAM_BACKUP_20250115] ([MaSP], [TenSP], [DonGia], [DonViTinh], [SoLuongTon], [HinhAnh], [MoTa], [MaNCC], [MaDM], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (N'SP002     ', N'iPhone 15 Pro Max', CAST(23000000.00 AS Decimal(18, 2)), N'Chiếc', 60, N'dienthoaiiphone2.jpg', N'iPhone 15 Pro Max mới nhất', N'NCC001    ', N'DM001     ', N'HoatDong', CAST(N'2025-11-26T17:03:41.380' AS DateTime), CAST(N'2025-11-26T17:03:41.380' AS DateTime))
INSERT [dbo].[SANPHAM_BACKUP_20250115] ([MaSP], [TenSP], [DonGia], [DonViTinh], [SoLuongTon], [HinhAnh], [MoTa], [MaNCC], [MaDM], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (N'SP003     ', N'Samsung S20 Ultra', CAST(18000000.00 AS Decimal(18, 2)), N'Chiếc', 50, N'dienthoaisamsung.jpg', N'Samsung S20 Ultra', N'NCC002    ', N'DM002     ', N'HoatDong', CAST(N'2025-11-26T17:03:41.380' AS DateTime), CAST(N'2025-11-26T17:03:41.380' AS DateTime))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_DONHANG_TrangThai]    Script Date: 12/7/2025 11:28:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_DONHANG_TrangThai] ON [dbo].[DONHANG]
(
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_DONHANG_User]    Script Date: 12/7/2025 11:28:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_DONHANG_User] ON [dbo].[DONHANG]
(
	[MaUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_GIOHANG_User]    Script Date: 12/7/2025 11:28:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_GIOHANG_User] ON [dbo].[GIOHANG]
(
	[MaUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_HOADON_NgayLap]    Script Date: 12/7/2025 11:28:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_HOADON_NgayLap] ON [dbo].[HOADON]
(
	[NgayLap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_HOADON_TrangThai]    Script Date: 12/7/2025 11:28:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_HOADON_TrangThai] ON [dbo].[HOADON]
(
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NGUOIDUN__A9D1053449A9291B]    Script Date: 12/7/2025 11:28:08 PM ******/
ALTER TABLE [dbo].[NGUOIDUNG] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_NGUOIDUNG_Email]    Script Date: 12/7/2025 11:28:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_NGUOIDUNG_Email] ON [dbo].[NGUOIDUNG]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_SANPHAM_MaDM]    Script Date: 12/7/2025 11:28:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_SANPHAM_MaDM] ON [dbo].[SANPHAM]
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_SANPHAM_MaNCC]    Script Date: 12/7/2025 11:28:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_SANPHAM_MaNCC] ON [dbo].[SANPHAM]
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_SANPHAM_TrangThai]    Script Date: 12/7/2025 11:28:08 PM ******/
CREATE NONCLUSTERED INDEX [idx_SANPHAM_TrangThai] ON [dbo].[SANPHAM]
(
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AUDITLOG] ADD  DEFAULT (getdate()) FOR [NgayThucHien]
GO
ALTER TABLE [dbo].[DANHMUC] ADD  DEFAULT ('HoatDong') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DANHMUC] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DONHANG] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[DONHANG] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[DONHANG] ADD  DEFAULT (N'Chờ xác nhận') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DONHANG] ADD  DEFAULT (N'COD') FOR [PhuongThucTT]
GO
ALTER TABLE [dbo].[DONHANG] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[GIOHANG] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[GIOHANG] ADD  DEFAULT (getdate()) FOR [NgayThem]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT (N'Chờ xử lý') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[HOADONNHAPHANG] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[HOADONNHAPHANG] ADD  DEFAULT ('DaHoanThanh') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HOADONNHAPHANG] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NGUOIDUNG] ADD  DEFAULT ('HoatDong') FOR [TrangThai]
GO
ALTER TABLE [dbo].[NGUOIDUNG] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NGUOIDUNG] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[NHACUNGCAP] ADD  DEFAULT ('HoatDong') FOR [TrangThai]
GO
ALTER TABLE [dbo].[NHACUNGCAP] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT ('HoatDong') FOR [TrangThai]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_DH] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DONHANG] ([MaDH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [FK_CTDH_DH]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_SP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [FK_CTDH_SP]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HD] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOADON] ([MaHD])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHD_HD]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_SP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHD_SP]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DH_User] FOREIGN KEY([MaUser])
REFERENCES [dbo].[NGUOIDUNG] ([MaUser])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DH_User]
GO
ALTER TABLE [dbo].[GIOHANG]  WITH CHECK ADD  CONSTRAINT [FK_GH_SP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[GIOHANG] CHECK CONSTRAINT [FK_GH_SP]
GO
ALTER TABLE [dbo].[GIOHANG]  WITH CHECK ADD  CONSTRAINT [FK_GH_User] FOREIGN KEY([MaUser])
REFERENCES [dbo].[NGUOIDUNG] ([MaUser])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GIOHANG] CHECK CONSTRAINT [FK_GH_User]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[NGUOIDUNG] ([MaUser])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_QL] FOREIGN KEY([MaQL])
REFERENCES [dbo].[NGUOIDUNG] ([MaUser])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_QL]
GO
ALTER TABLE [dbo].[HOADONNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_HDN_NCC] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHACUNGCAP] ([MaNCC])
GO
ALTER TABLE [dbo].[HOADONNHAPHANG] CHECK CONSTRAINT [FK_HDN_NCC]
GO
ALTER TABLE [dbo].[HOADONNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_HDN_QL] FOREIGN KEY([MaQL])
REFERENCES [dbo].[NGUOIDUNG] ([MaUser])
GO
ALTER TABLE [dbo].[HOADONNHAPHANG] CHECK CONSTRAINT [FK_HDN_QL]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PN_HDN] FOREIGN KEY([MaHDN])
REFERENCES [dbo].[HOADONNHAPHANG] ([MaHDN])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PN_HDN]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PN_SP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PN_SP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_DM] FOREIGN KEY([MaDM])
REFERENCES [dbo].[DANHMUC] ([MaDM])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_DM]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NCC] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHACUNGCAP] ([MaNCC])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_NCC]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD CHECK  (([TrangThai]=N'Đã hủy' OR [TrangThai]=N'Đã giao' OR [TrangThai]=N'Đang giao' OR [TrangThai]=N'Đã xác nhận' OR [TrangThai]=N'Chờ xác nhận'))
GO
ALTER TABLE [dbo].[GIOHANG]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[GIOHANG]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD CHECK  (([PhuongThucTT]=N'Thẻ' OR [PhuongThucTT]=N'Chuyển khoản' OR [PhuongThucTT]=N'Tiền mặt'))
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD CHECK  (([TrangThai]=N'Đã hủy' OR [TrangThai]=N'Đã thanh toán' OR [TrangThai]=N'Chờ xử lý'))
GO
ALTER TABLE [dbo].[HOADONNHAPHANG]  WITH CHECK ADD CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD CHECK  (([Role]='khach' OR [Role]='quanly' OR [Role]='admin'))
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD CHECK  (([TrangThai]='KhongHoatDong' OR [TrangThai]='HoatDong'))
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD CHECK  (([DonGiaNhap]>=(0)))
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD CHECK  (([SoLuongTon]>=(0)))
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD CHECK  (([TrangThai]='HetHang' OR [TrangThai]='KhongHoatDong' OR [TrangThai]='HoatDong'))
GO
/****** Object:  StoredProcedure [dbo].[proc_alter_user]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROCEDURE 2: Sửa thông tin người dùng (TRANSACTION)
CREATE PROCEDURE [dbo].[proc_alter_user]
    @username NVARCHAR(100),
    @pass NVARCHAR(255) = NULL,
    @email VARCHAR(100) = NULL,
    @sdt VARCHAR(15) = NULL,
    @diachi NVARCHAR(200) = NULL,
    @role VARCHAR(20) = NULL,
    @trangthai VARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        DECLARE @MaUser CHAR(10);
        SELECT @MaUser = MaUser FROM NGUOIDUNG WHERE TenNguoiDung = @username;
        
        IF @MaUser IS NULL
        BEGIN
            RAISERROR(N'Không tìm thấy người dùng', 16, 1);
            RETURN;
        END

        UPDATE NGUOIDUNG
        SET 
            MatKhau = ISNULL(@pass, MatKhau),
            Email = ISNULL(@email, Email),
            SDT = ISNULL(@sdt, SDT),
            DiaChi = ISNULL(@diachi, DiaChi),
            Role = ISNULL(@role, Role),
            TrangThai = ISNULL(@trangthai, TrangThai),
            NgayCapNhat = GETDATE()
        WHERE MaUser = @MaUser;

        INSERT INTO AUDITLOG (TableName, Operation, MaUser, NoiDung)
        VALUES ('NGUOIDUNG', 'UPDATE', @MaUser, N'Cập nhật: ' + @username);

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[proc_create_user]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROCEDURE 1: Tạo người dùng mới (TRANSACTION)
CREATE PROCEDURE [dbo].[proc_create_user]
    @username NVARCHAR(100),
    @pass NVARCHAR(255),
    @email VARCHAR(100),
    @sdt VARCHAR(15) = NULL,
    @diachi NVARCHAR(200) = NULL,
    @role VARCHAR(20) = 'khach'
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        IF EXISTS (SELECT 1 FROM NGUOIDUNG WHERE Email = @email)
        BEGIN
            RAISERROR(N'Email đã tồn tại', 16, 1);
            RETURN;
        END

        INSERT INTO NGUOIDUNG (TenNguoiDung, MatKhau, Email, SDT, DiaChi, Role)
        VALUES (@username, @pass, @email, @sdt, @diachi, @role);

        INSERT INTO AUDITLOG (TableName, Operation, NoiDung)
        VALUES ('NGUOIDUNG', 'INSERT', N'Tạo người dùng: ' + @username);

        COMMIT TRANSACTION;
        PRINT N'Tạo người dùng thành công';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[proc_delete_user]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROCEDURE 3: Xóa người dùng (soft delete)
CREATE PROCEDURE [dbo].[proc_delete_user]
    @username NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        UPDATE NGUOIDUNG
        SET TrangThai = 'KhongHoatDong', NgayCapNhat = GETDATE()
        WHERE TenNguoiDung = @username;

        INSERT INTO AUDITLOG (TableName, Operation, NoiDung)
        VALUES ('NGUOIDUNG', 'DELETE', N'Vô hiệu hóa: ' + @username);

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_BackupDatabase]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROCEDURE 8: Sao lưu database (TRANSACTION)
CREATE PROCEDURE [dbo].[sp_BackupDatabase]
    @BackupType VARCHAR(20) = 'FULL', -- 'FULL', 'DIFFERENTIAL', 'LOG'
    @BackupPath NVARCHAR(500) = 'C:\SQLBackup\'
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DECLARE @BackupFile NVARCHAR(500);
        DECLARE @DateTime VARCHAR(20) = CONVERT(VARCHAR(20), GETDATE(), 112) + '_' + REPLACE(CONVERT(VARCHAR(20), GETDATE(), 108), ':', '');
        DECLARE @StartTime DATETIME = GETDATE();
        DECLARE @SQL NVARCHAR(MAX);
        
        IF @BackupType = 'FULL'
        BEGIN
            SET @BackupFile = @BackupPath + 'DT_DB_FULL_' + @DateTime + '.bak';
            SET @SQL = 'BACKUP DATABASE DT_DB TO DISK = ''' + @BackupFile + ''' WITH INIT, FORMAT, NAME = ''Full Backup''';
        END
        ELSE IF @BackupType = 'DIFFERENTIAL'
        BEGIN
            SET @BackupFile = @BackupPath + 'DT_DB_DIFF_' + @DateTime + '.bak';
            SET @SQL = 'BACKUP DATABASE DT_DB TO DISK = ''' + @BackupFile + ''' WITH DIFFERENTIAL, INIT, FORMAT';
        END
        ELSE IF @BackupType = 'LOG'
        BEGIN
            SET @BackupFile = @BackupPath + 'DT_DB_LOG_' + @DateTime + '. trn';
            SET @SQL = 'BACKUP LOG DT_DB TO DISK = ''' + @BackupFile + ''' WITH INIT, FORMAT';
        END
        
        EXEC sp_executesql @SQL;
        
        INSERT INTO BACKUP_HISTORY (BackupType, BackupPath, StartTime, EndTime, Status)
        VALUES (@BackupType, @BackupFile, @StartTime, GETDATE(), 'Success');
        
        PRINT N'Sao lưu thành công: ' + @BackupFile;
    END TRY
    BEGIN CATCH
        INSERT INTO BACKUP_HISTORY (BackupType, BackupPath, StartTime, EndTime, Status, ErrorMessage)
        VALUES (@BackupType, @BackupFile, @StartTime, GETDATE(), 'Failed', ERROR_MESSAGE());
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoDoanhThu]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROCEDURE 4: Báo cáo doanh thu
CREATE PROCEDURE [dbo].[sp_BaoCaoDoanhThu]
    @TuNgay DATE,
    @DenNgay DATE
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        CONVERT(DATE, NgayLap) AS Ngay,
        COUNT(*) AS SoLuongHoaDon,
        SUM(TongTien) AS TongDoanhThu,
        AVG(TongTien) AS DoanhThuTrungBinh
    FROM HOADON
    WHERE NgayLap BETWEEN @TuNgay AND @DenNgay
        AND TrangThai = N'Đã thanh toán'
    GROUP BY CONVERT(DATE, NgayLap)
    ORDER BY Ngay DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoSanPhamBanChay]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROCEDURE 5: Báo cáo sản phẩm bán chạy
CREATE PROCEDURE [dbo].[sp_BaoCaoSanPhamBanChay]
    @Top INT = 10
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP (@Top)
        s.MaSP, s.TenSP, dm.TenDM,
        SUM(ct.SoLuong) AS TongSoLuongBan,
        SUM(ct. SoLuong * ct.DonGia) AS TongDoanhThu,
        s.SoLuongTon
    FROM CTHOADON ct
    INNER JOIN SANPHAM s ON ct.MaSP = s.MaSP
    INNER JOIN DANHMUC dm ON s.MaDM = dm.MaDM
    INNER JOIN HOADON h ON ct.MaHD = h.MaHD
    WHERE h.TrangThai = N'Đã thanh toán'
    GROUP BY s.MaSP, s.TenSP, dm.TenDM, s.SoLuongTon
    ORDER BY TongSoLuongBan DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoTonKho]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROCEDURE 6: Báo cáo tồn kho
CREATE PROCEDURE [dbo].[sp_BaoCaoTonKho]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        dm.TenDM, s.MaSP, s.TenSP, s.SoLuongTon, s.DonGia,
        s.SoLuongTon * s.DonGia AS GiaTriTonKho,
        s.TrangThai
    FROM SANPHAM s
    INNER JOIN DANHMUC dm ON s.MaDM = dm.MaDM
    WHERE s.TrangThai IN ('HoatDong', 'HetHang')
    ORDER BY dm.TenDM, s. TenSP;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckLowStock]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROCEDURE 7: Kiểm tra sản phẩm sắp hết hàng (CURSOR)
CREATE PROCEDURE [dbo].[sp_CheckLowStock]
    @SoLuongToiThieu INT = 10
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @MaSP CHAR(10), @TenSP NVARCHAR(100), @SoLuongTon INT, @Message NVARCHAR(500);
    
    CREATE TABLE #LowStockProducts (
        MaSP CHAR(10), TenSP NVARCHAR(100), 
        SoLuongTon INT, ThongBao NVARCHAR(500)
    );
    
    DECLARE cur_LowStock CURSOR FOR
    SELECT MaSP, TenSP, SoLuongTon
    FROM SANPHAM
    WHERE SoLuongTon <= @SoLuongToiThieu AND TrangThai = 'HoatDong'
    ORDER BY SoLuongTon ASC;
    
    OPEN cur_LowStock;
    FETCH NEXT FROM cur_LowStock INTO @MaSP, @TenSP, @SoLuongTon;
    
    WHILE @@FETCH_STATUS = 0
    BEGIN
        SET @Message = N'Cảnh báo: "' + @TenSP + N'" còn ' + CAST(@SoLuongTon AS NVARCHAR(10)) + N' sản phẩm';
        INSERT INTO #LowStockProducts VALUES (@MaSP, @TenSP, @SoLuongTon, @Message);
        FETCH NEXT FROM cur_LowStock INTO @MaSP, @TenSP, @SoLuongTon;
    END;
    
    CLOSE cur_LowStock;
    DEALLOCATE cur_LowStock;
    
    SELECT * FROM #LowStockProducts;
    DROP TABLE #LowStockProducts;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ChiTietDanhMuc]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ChiTietDanhMuc]
    @MaDM CHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        dm.MaDM,
        dm.TenDM,
        dm.MoTa,
        dm.HinhAnh,
        dm.TrangThai,
        dm.NgayTao,
        COUNT(sp.MaSP) AS SoLuongSP
    FROM DANHMUC dm
    LEFT JOIN SANPHAM sp ON dm.MaDM = sp.MaDM AND sp.TrangThai = 'HoatDong'
    WHERE dm.MaDM = @MaDM
    GROUP BY dm.MaDM, dm.TenDM, dm.MoTa, dm.HinhAnh, dm.TrangThai, dm.NgayTao
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ChiTietNhaCungCap]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ChiTietNhaCungCap]
    @MaNCC CHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        ncc.MaNCC,
        ncc. TenNCC,
        ncc.DiaChi,
        ncc.SDT,
        ncc.Email,
        ncc.TrangThai,
        ncc.NgayTao,
        COUNT(sp.MaSP) AS SoLuongSP
    FROM NHACUNGCAP ncc
    LEFT JOIN SANPHAM sp ON ncc.MaNCC = sp.MaNCC AND sp.TrangThai = 'HoatDong'
    WHERE ncc.MaNCC = @MaNCC
    GROUP BY ncc.MaNCC, ncc. TenNCC, ncc. DiaChi, ncc.SDT, ncc.Email, ncc.TrangThai, ncc.NgayTao
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetDanhMuc]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetDanhMuc]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        dm.MaDM,
        dm.TenDM,
        dm.MoTa,
        dm.HinhAnh,
        dm. TrangThai,
        dm.NgayTao,
        COUNT(sp.MaSP) AS SoLuongSP
    FROM DANHMUC dm
    LEFT JOIN SANPHAM sp ON dm.MaDM = sp.MaDM AND sp.TrangThai = 'HoatDong'
    GROUP BY dm.MaDM, dm.TenDM, dm.MoTa, dm. HinhAnh, dm.TrangThai, dm.NgayTao
    ORDER BY dm. NgayTao DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetNhaCungCap]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetNhaCungCap]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        ncc.MaNCC,
        ncc.TenNCC,
        ncc. DiaChi,
        ncc.SDT,
        ncc.Email,
        ncc.TrangThai,
        ncc. NgayTao,
        COUNT(sp.MaSP) AS SoLuongSP
    FROM NHACUNGCAP ncc
    LEFT JOIN SANPHAM sp ON ncc.MaNCC = sp.MaNCC AND sp.TrangThai = 'HoatDong'
    GROUP BY ncc.MaNCC, ncc.TenNCC, ncc.DiaChi, ncc.SDT, ncc.Email, ncc. TrangThai, ncc. NgayTao
    ORDER BY ncc.NgayTao DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetSanPham]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetSanPham]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        sp.MaSP,
        sp.TenSP,
        sp.DonGia,
        sp.DonViTinh,
        sp.SoLuongTon,
        sp.HinhAnh,
        sp.MoTa,
        sp.MaDM,
        sp.MaNCC,
        sp.TrangThai,
        sp. NgayTao,
        dm.TenDM,
        ncc.TenNCC
    FROM SANPHAM sp
    LEFT JOIN DANHMUC dm ON sp.MaDM = dm.MaDM
    LEFT JOIN NHACUNGCAP ncc ON sp.MaNCC = ncc.MaNCC
    ORDER BY sp.NgayTao DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MuaHangAnToan]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MuaHangAnToan]
    @MaUser CHAR(10),
    @MaSP CHAR(10),
    @SoLuong INT
AS
BEGIN
    SET NOCOUNT ON;
    SET TRANSACTION ISOLATION LEVEL SERIALIZABLE; -- Khóa nghiêm ngặt
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Kiểm tra tồn kho
        DECLARE @SoLuongTon INT;
        SELECT @SoLuongTon = SoLuongTon 
        FROM SANPHAM WITH (UPDLOCK) -- Khóa để cập nhật
        WHERE MaSP = @MaSP;
        
        IF @SoLuongTon < @SoLuong
        BEGIN
            RAISERROR(N'Hết hàng!', 16, 1);
            ROLLBACK;
            RETURN;
        END
        
        -- Giảm tồn kho
        UPDATE SANPHAM SET SoLuongTon = SoLuongTon - @SoLuong WHERE MaSP = @MaSP;
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_NhapHang]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROCEDURE 9: Nhập hàng (TRANSACTION + TRIGGER)
CREATE PROCEDURE [dbo].[sp_NhapHang]
    @MaNCC CHAR(10),
    @MaQL CHAR(10),
    @ChiTietNhap NVARCHAR(MAX) -- JSON: [{"MaSP":"SP001","SoLuong":100,"DonGiaNhap":50000}]
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Tạo hóa đơn nhập
        DECLARE @MaHDN CHAR(10);
        INSERT INTO HOADONNHAPHANG (NgayNhap, MaNCC, MaQL)
        VALUES (GETDATE(), @MaNCC, @MaQL);
        
        SET @MaHDN = (SELECT TOP 1 MaHDN FROM HOADONNHAPHANG ORDER BY NgayTao DESC);
        
        -- Thêm chi tiết (sử dụng JSON)
        INSERT INTO PHIEUNHAP (MaHDN, MaSP, SoLuong, DonGiaNhap)
        SELECT @MaHDN, MaSP, SoLuong, DonGiaNhap
        FROM OPENJSON(@ChiTietNhap)
        WITH (
            MaSP CHAR(10) '$.MaSP',
            SoLuong INT '$.SoLuong',
            DonGiaNhap DECIMAL(18,2) '$.DonGiaNhap'
        );
        
        -- Trigger tự động cập nhật tồn kho và tổng tiền
        
        INSERT INTO AUDITLOG (TableName, Operation, NoiDung)
        VALUES ('HOADONNHAPHANG', 'INSERT', N'Nhập hàng: ' + @MaHDN);
        
        COMMIT TRANSACTION;
        SELECT @MaHDN AS MaHDN, N'Nhập hàng thành công' AS Message;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_SuaDanhMuc]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SuaDanhMuc]
    @MaDM CHAR(10),
    @TenDM NVARCHAR(100),
    @MoTa NVARCHAR(255) = NULL,
    @HinhAnh NVARCHAR(255) = NULL,
    @TrangThai VARCHAR(20) = 'HoatDong'
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE DANHMUC
    SET 
        TenDM = @TenDM,
        MoTa = @MoTa,
        HinhAnh = ISNULL(@HinhAnh, HinhAnh),
        TrangThai = @TrangThai
    WHERE MaDM = @MaDM
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SuaNhaCungCap]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SuaNhaCungCap]
    @MaNCC CHAR(10),
    @TenNCC NVARCHAR(100),
    @DiaChi NVARCHAR(100) = NULL,
    @SDT VARCHAR(15) = NULL,
    @Email VARCHAR(100) = NULL,
    @TrangThai VARCHAR(20) = 'HoatDong'
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE NHACUNGCAP
    SET 
        TenNCC = @TenNCC,
        DiaChi = @DiaChi,
        SDT = @SDT,
        Email = @Email,
        TrangThai = @TrangThai
    WHERE MaNCC = @MaNCC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SuaSanPham]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SuaSanPham]
    @MaSP CHAR(10),
    @TenSP NVARCHAR(100),
    @DonGia DECIMAL(18,2),
    @DonViTinh NVARCHAR(20),
    @SoLuongTon INT,
    @HinhAnh NVARCHAR(255),
    @MoTa NVARCHAR(1000),
    @MaNCC CHAR(10),
    @MaDM CHAR(10),
    @TrangThai VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Kiểm tra sản phẩm có tồn tại
        IF NOT EXISTS (SELECT 1 FROM SANPHAM WHERE MaSP = @MaSP)
        BEGIN
            RAISERROR(N'Sản phẩm không tồn tại!', 16, 1);
            RETURN;
        END
        
        -- Kiểm tra danh mục có tồn tại
        IF NOT EXISTS (SELECT 1 FROM DANHMUC WHERE MaDM = @MaDM)
        BEGIN
            RAISERROR(N'Danh mục không tồn tại!', 16, 1);
            RETURN;
        END
        
        -- Kiểm tra nhà cung cấp có tồn tại
        IF NOT EXISTS (SELECT 1 FROM NHACUNGCAP WHERE MaNCC = @MaNCC)
        BEGIN
            RAISERROR(N'Nhà cung cấp không tồn tại!', 16, 1);
            RETURN;
        END
        
        -- Cập nhật sản phẩm
        UPDATE SANPHAM
        SET 
            TenSP = @TenSP,
            DonGia = @DonGia,
            DonViTinh = @DonViTinh,
            SoLuongTon = @SoLuongTon,
            HinhAnh = ISNULL(@HinhAnh, HinhAnh), -- Giữ nguyên ảnh cũ nếu không upload ảnh mới
            MoTa = @MoTa,
            MaNCC = @MaNCC,
            MaDM = @MaDM,
            TrangThai = @TrangThai,
            NgayCapNhat = GETDATE()
        WHERE MaSP = @MaSP;
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoDonHang]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_TaoDonHang]
    @MaUser CHAR(10),
    @DiaChiGiao NVARCHAR(200),
    @SDT VARCHAR(15),
    @GhiChu NVARCHAR(500) = NULL,
    @PhuongThucTT NVARCHAR(30) = N'COD'
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Kiểm tra giỏ hàng có sản phẩm không
        IF NOT EXISTS (SELECT 1 FROM GIOHANG WHERE MaUser = @MaUser)
        BEGIN
            RAISERROR(N'Giỏ hàng trống', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Tính tổng tiền
        DECLARE @TongTien DECIMAL(18,2) = (
            SELECT SUM(SoLuong * DonGia)
            FROM GIOHANG
            WHERE MaUser = @MaUser
        );

        -- Tạo đơn hàng
        INSERT INTO DONHANG (MaUser, NgayDat, TongTien, DiaChiGiao, SDT, GhiChu, PhuongThucTT)
        VALUES (@MaUser, GETDATE(), @TongTien, @DiaChiGiao, @SDT, @GhiChu, @PhuongThucTT);

        -- Lấy mã đơn hàng vừa tạo
        DECLARE @MaDH CHAR(10) = (SELECT TOP 1 MaDH FROM DONHANG ORDER BY NgayDat DESC);

        -- Chuyển sản phẩm từ giỏ sang chi tiết đơn hàng
        INSERT INTO CHITIETDONHANG (MaDH, MaSP, SoLuong, DonGia)
        SELECT @MaDH, MaSP, SoLuong, DonGia
        FROM GIOHANG
        WHERE MaUser = @MaUser;

        -- Xóa giỏ hàng
        DELETE FROM GIOHANG WHERE MaUser = @MaUser;

        -- Ghi log
        INSERT INTO AUDITLOG (TableName, Operation, MaUser, NoiDung)
        VALUES ('DONHANG', 'INSERT', @MaUser, N'Tạo đơn hàng: ' + @MaDH);

        COMMIT TRANSACTION;
        SELECT 1 AS Success, @MaDH AS MaDH, N'Đặt hàng thành công' AS Message;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        SELECT 0 AS Success, ERROR_MESSAGE() AS Message;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoHoaDonBan]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROCEDURE 10: Tạo hóa đơn bán (TRANSACTION + TRIGGER)
CREATE PROCEDURE [dbo].[sp_TaoHoaDonBan]
    @MaKH CHAR(10),
    @MaQL CHAR(10),
    @PhuongThucTT NVARCHAR(20),
    @ChiTietBan NVARCHAR(MAX) -- JSON: [{"MaSP":"SP001","SoLuong":2,"DonGia":1000000}]
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Tạo hóa đơn bán
        DECLARE @MaHD CHAR(10);
        INSERT INTO HOADON (NgayLap, PhuongThucTT, MaKH, MaQL, TrangThai)
        VALUES (GETDATE(), @PhuongThucTT, @MaKH, @MaQL, N'Đã thanh toán');
        
        SET @MaHD = (SELECT TOP 1 MaHD FROM HOADON ORDER BY NgayTao DESC);
        
        -- Thêm chi tiết
        INSERT INTO CTHOADON (MaHD, MaSP, SoLuong, DonGia)
        SELECT @MaHD, MaSP, SoLuong, DonGia
        FROM OPENJSON(@ChiTietBan)
        WITH (
            MaSP CHAR(10) '$.MaSP',
            SoLuong INT '$.SoLuong',
            DonGia DECIMAL(18,2) '$.DonGia'
        );
        
        -- Trigger tự động kiểm tra tồn kho và cập nhật
        
        INSERT INTO AUDITLOG (TableName, Operation, NoiDung)
        VALUES ('HOADON', 'INSERT', N'Bán hàng: ' + @MaHD);
        
        COMMIT TRANSACTION;
        SELECT @MaHD AS MaHD, N'Tạo hóa đơn thành công' AS Message;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ThemDanhMuc]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ThemDanhMuc]
    @TenDM NVARCHAR(100),
    @MoTa NVARCHAR(255) = NULL,
    @HinhAnh NVARCHAR(255) = NULL,
    @TrangThai VARCHAR(20) = 'HoatDong'
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Thêm danh mục (Trigger sẽ tự tạo mã)
    INSERT INTO DANHMUC (TenDM, MoTa, HinhAnh, TrangThai, NgayTao)
    VALUES (@TenDM, @MoTa, @HinhAnh, @TrangThai, GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ThemNhaCungCap]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ThemNhaCungCap]
    @TenNCC NVARCHAR(100),
    @DiaChi NVARCHAR(100) = NULL,
    @SDT VARCHAR(15) = NULL,
    @Email VARCHAR(100) = NULL,
    @TrangThai VARCHAR(20) = 'HoatDong'
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Thêm nhà cung cấp (Trigger sẽ tự tạo mã)
    INSERT INTO NHACUNGCAP (TenNCC, DiaChi, SDT, Email, TrangThai, NgayTao)
    VALUES (@TenNCC, @DiaChi, @SDT, @Email, @TrangThai, GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ThemSanPham]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ThemSanPham]
    @TenSP NVARCHAR(100),
    @DonGia DECIMAL(18,2),
    @DonViTinh NVARCHAR(20),
    @SoLuongTon INT,
    @HinhAnh NVARCHAR(255),
    @MoTa NVARCHAR(1000),
    @MaNCC CHAR(10),
    @MaDM CHAR(10),
    @TrangThai VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Kiểm tra danh mục có tồn tại
        IF NOT EXISTS (SELECT 1 FROM DANHMUC WHERE MaDM = @MaDM)
        BEGIN
            RAISERROR(N'Danh mục không tồn tại! ', 16, 1);
            RETURN;
        END
        
        -- Kiểm tra nhà cung cấp có tồn tại
        IF NOT EXISTS (SELECT 1 FROM NHACUNGCAP WHERE MaNCC = @MaNCC)
        BEGIN
            RAISERROR(N'Nhà cung cấp không tồn tại!', 16, 1);
            RETURN;
        END
        
        -- Insert sản phẩm mới (Trigger trg_AutoID_SANPHAM sẽ tự tạo MaSP)
        INSERT INTO SANPHAM (TenSP, DonGia, DonViTinh, SoLuongTon, HinhAnh, MoTa, MaNCC, MaDM, TrangThai, NgayTao)
        VALUES (@TenSP, @DonGia, @DonViTinh, ISNULL(@SoLuongTon, 0), @HinhAnh, @MoTa, @MaNCC, @MaDM, @TrangThai, GETDATE());
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemVaoGioHang]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ThemVaoGioHang]
    @MaUser CHAR(10),
    @MaSP CHAR(10),
    @SoLuong INT = 1
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        -- Kiểm tra sản phẩm tồn tại
        IF NOT EXISTS (SELECT 1 FROM SANPHAM WHERE MaSP = @MaSP AND TrangThai = 'HoatDong')
        BEGIN
            RAISERROR(N'Sản phẩm không tồn tại hoặc không khả dụng', 16, 1);
            RETURN;
        END

        -- Kiểm tra tồn kho
        DECLARE @SoLuongTon INT = (SELECT SoLuongTon FROM SANPHAM WHERE MaSP = @MaSP);
        IF @SoLuongTon < @SoLuong
        BEGIN
            RAISERROR(N'Không đủ hàng trong kho', 16, 1);
            RETURN;
        END

        -- Lấy giá
        DECLARE @DonGia DECIMAL(18,2) = (SELECT DonGia FROM SANPHAM WHERE MaSP = @MaSP);

        -- Kiểm tra đã có trong giỏ chưa
        IF EXISTS (SELECT 1 FROM GIOHANG WHERE MaUser = @MaUser AND MaSP = @MaSP)
        BEGIN
            UPDATE GIOHANG
            SET SoLuong = SoLuong + @SoLuong,
                NgayThem = GETDATE()
            WHERE MaUser = @MaUser AND MaSP = @MaSP;
        END
        ELSE
        BEGIN
            INSERT INTO GIOHANG (MaUser, MaSP, SoLuong, DonGia)
            VALUES (@MaUser, @MaSP, @SoLuong, @DonGia);
        END

        SELECT 1 AS Success, N'Đã thêm vào giỏ hàng' AS Message;
    END TRY
    BEGIN CATCH
        SELECT 0 AS Success, ERROR_MESSAGE() AS Message;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_XoaDanhMuc]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_XoaDanhMuc]
    @MaDM CHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Kiểm tra có sản phẩm đang dùng không
    IF EXISTS (SELECT 1 FROM SANPHAM WHERE MaDM = @MaDM AND TrangThai = 'HoatDong')
    BEGIN
        RAISERROR(N'Không thể xóa danh mục đang có sản phẩm hoạt động!', 16, 1)
        RETURN
    END
    
    -- Soft delete
    UPDATE DANHMUC
    SET TrangThai = 'KhongHoatDong'
    WHERE MaDM = @MaDM
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XoaNhaCungCap]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_XoaNhaCungCap]
    @MaNCC CHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Kiểm tra có sản phẩm đang dùng không
    IF EXISTS (SELECT 1 FROM SANPHAM WHERE MaNCC = @MaNCC AND TrangThai = 'HoatDong')
    BEGIN
        RAISERROR(N'Không thể xóa nhà cung cấp đang có sản phẩm hoạt động! ', 16, 1)
        RETURN
    END
    
    -- Soft delete
    UPDATE NHACUNGCAP
    SET TrangThai = 'KhongHoatDong'
    WHERE MaNCC = @MaNCC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XoaSanPham]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_XoaSanPham]
    @MaSP CHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Kiểm tra sản phẩm có tồn tại
        IF NOT EXISTS (SELECT 1 FROM SANPHAM WHERE MaSP = @MaSP)
        BEGIN
            RAISERROR(N'Sản phẩm không tồn tại!', 16, 1);
            RETURN;
        END
        
        -- Kiểm tra xem sản phẩm đã có trong hóa đơn chưa
        IF EXISTS (SELECT 1 FROM CTHOADON WHERE MaSP = @MaSP)
        BEGIN
            -- Nếu đã có trong hóa đơn, chỉ chuyển trạng thái thành "KhongHoatDong" (Soft delete)
            UPDATE SANPHAM
            SET TrangThai = 'KhongHoatDong', NgayCapNhat = GETDATE()
            WHERE MaSP = @MaSP;
        END
        ELSE
        BEGIN
            -- Nếu chưa có trong hóa đơn, có thể xóa vật lý
            DELETE FROM SANPHAM WHERE MaSP = @MaSP;
        END
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  Trigger [dbo].[trg_UpdateStockOnOrder]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_UpdateStockOnOrder]
ON [dbo].[CHITIETDONHANG]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        -- Kiểm tra tồn kho
        IF EXISTS (
            SELECT 1
            FROM inserted i
            INNER JOIN SANPHAM s ON i.MaSP = s.MaSP
            WHERE s.SoLuongTon < i.SoLuong
        )
        BEGIN
            RAISERROR(N'Số lượng tồn kho không đủ', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Giảm tồn kho
        UPDATE s
        SET s.SoLuongTon = s.SoLuongTon - i.SoLuong,
            s.NgayCapNhat = GETDATE(),
            s.TrangThai = CASE 
                WHEN (s.SoLuongTon - i.SoLuong) <= 0 THEN 'HetHang'
                ELSE s.TrangThai
            END
        FROM SANPHAM s
        INNER JOIN inserted i ON s.MaSP = i.MaSP;

        -- Cập nhật tổng tiền đơn hàng
        UPDATE d
        SET d.TongTien = (
            SELECT ISNULL(SUM(SoLuong * DonGia), 0)
            FROM CHITIETDONHANG
            WHERE MaDH = d. MaDH
        ),
        d.NgayCapNhat = GETDATE()
        FROM DONHANG d
        INNER JOIN inserted i ON d.MaDH = i.MaDH;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
ALTER TABLE [dbo].[CHITIETDONHANG] ENABLE TRIGGER [trg_UpdateStockOnOrder]
GO
/****** Object:  Trigger [dbo].[trg_CheckAndUpdateSoLuongTonSauBan]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- TRIGGER 8: Kiểm tra tồn kho và cập nhật khi bán (TRANSACTION)
CREATE TRIGGER [dbo].[trg_CheckAndUpdateSoLuongTonSauBan]
ON [dbo].[CTHOADON]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Kiểm tra số lượng tồn kho
        IF EXISTS (
            SELECT 1
            FROM inserted i
            INNER JOIN SANPHAM s ON i.MaSP = s.MaSP
            WHERE s.SoLuongTon < i.SoLuong
        )
        BEGIN
            RAISERROR(N'Số lượng tồn kho không đủ', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Cập nhật số lượng tồn
        UPDATE s
        SET s. SoLuongTon = s.SoLuongTon - i.SoLuong,
            s.NgayCapNhat = GETDATE(),
            s.TrangThai = CASE 
                WHEN (s.SoLuongTon - i.SoLuong) <= 0 THEN 'HetHang'
                ELSE s.TrangThai
            END
        FROM SANPHAM s
        INNER JOIN inserted i ON s.MaSP = i. MaSP;

        -- Cập nhật tổng tiền hóa đơn
        UPDATE h
        SET h. TongTien = (
            SELECT ISNULL(SUM(SoLuong * DonGia), 0)
            FROM CTHOADON
            WHERE MaHD = h.MaHD
        )
        FROM HOADON h
        INNER JOIN inserted i ON h.MaHD = i.MaHD;
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
ALTER TABLE [dbo].[CTHOADON] ENABLE TRIGGER [trg_CheckAndUpdateSoLuongTonSauBan]
GO
/****** Object:  Trigger [dbo].[trg_RestoreSoLuongWhenDelete]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- TRIGGER 9: Hoàn trả số lượng khi xóa chi tiết hóa đơn
CREATE TRIGGER [dbo].[trg_RestoreSoLuongWhenDelete]
ON [dbo].[CTHOADON]
AFTER DELETE
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE s
    SET s.SoLuongTon = s. SoLuongTon + d.SoLuong,
        s.NgayCapNhat = GETDATE(),
        s.TrangThai = CASE 
            WHEN s.TrangThai = 'HetHang' THEN 'HoatDong'
            ELSE s.TrangThai
        END
    FROM SANPHAM s
    INNER JOIN deleted d ON s.MaSP = d.MaSP;

    UPDATE h
    SET h.TongTien = (
        SELECT ISNULL(SUM(SoLuong * DonGia), 0)
        FROM CTHOADON
        WHERE MaHD = h.MaHD
    )
    FROM HOADON h
    INNER JOIN deleted d ON h. MaHD = d.MaHD;
END;
GO
ALTER TABLE [dbo].[CTHOADON] ENABLE TRIGGER [trg_RestoreSoLuongWhenDelete]
GO
/****** Object:  Trigger [dbo].[trg_AutoID_DANHMUC]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- TRIGGER 3: Tự sinh mã DANHMUC
CREATE TRIGGER [dbo].[trg_AutoID_DANHMUC]
ON [dbo].[DANHMUC]
INSTEAD OF INSERT
AS
BEGIN
    DECLARE @maxID INT = (SELECT ISNULL(MAX(CAST(SUBSTRING(MaDM, 3, 3) AS INT)), 0) FROM DANHMUC);
    INSERT INTO DANHMUC (MaDM, TenDM, MoTa, HinhAnh, TrangThai, NgayTao)
    SELECT 
        'DM' + RIGHT('000' + CAST(@maxID + ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS VARCHAR(3)), 3),
        TenDM, MoTa, HinhAnh, ISNULL(TrangThai, 'HoatDong'), GETDATE()
    FROM inserted;
END;
GO
ALTER TABLE [dbo].[DANHMUC] ENABLE TRIGGER [trg_AutoID_DANHMUC]
GO
/****** Object:  Trigger [dbo].[trg_AutoID_DONHANG]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_AutoID_DONHANG]
ON [dbo].[DONHANG]
INSTEAD OF INSERT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @maxID INT = (SELECT ISNULL(MAX(CAST(SUBSTRING(MaDH, 3, 3) AS INT)), 0) FROM DONHANG);
    
    INSERT INTO DONHANG (MaDH, MaUser, NgayDat, TongTien, TrangThai, DiaChiGiao, SDT, GhiChu, PhuongThucTT, NgayCapNhat)
    SELECT 
        'DH' + RIGHT('000' + CAST(@maxID + ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS VARCHAR(3)), 3),
        MaUser, NgayDat, TongTien, 
        ISNULL(TrangThai, N'Chờ xác nhận'),
        DiaChiGiao, SDT, GhiChu,
        ISNULL(PhuongThucTT, N'COD'),
        GETDATE()
    FROM inserted;
END;
GO
ALTER TABLE [dbo].[DONHANG] ENABLE TRIGGER [trg_AutoID_DONHANG]
GO
/****** Object:  Trigger [dbo].[trg_AutoID_HD]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- TRIGGER 6: Tự sinh mã HOADON
CREATE TRIGGER [dbo].[trg_AutoID_HD]
ON [dbo].[HOADON]
INSTEAD OF INSERT
AS
BEGIN
    DECLARE @maxID INT = (SELECT ISNULL(MAX(CAST(SUBSTRING(MaHD, 3, 3) AS INT)), 0) FROM HOADON);
    INSERT INTO HOADON (MaHD, NgayLap, TongTien, TrangThai, PhuongThucTT, MaKH, MaQL, GhiChu, NgayTao)
    SELECT 
        'HD' + RIGHT('000' + CAST(@maxID + ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS VARCHAR(3)), 3),
        NgayLap, ISNULL(TongTien, 0), ISNULL(TrangThai, N'Chờ xử lý'), 
        PhuongThucTT, MaKH, MaQL, GhiChu, GETDATE()
    FROM inserted;
END;
GO
ALTER TABLE [dbo].[HOADON] ENABLE TRIGGER [trg_AutoID_HD]
GO
/****** Object:  Trigger [dbo].[trg_AutoID_HDN]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- TRIGGER 5: Tự sinh mã HOADONNHAPHANG
CREATE TRIGGER [dbo].[trg_AutoID_HDN]
ON [dbo].[HOADONNHAPHANG]
INSTEAD OF INSERT
AS
BEGIN
    DECLARE @maxID INT = (SELECT ISNULL(MAX(CAST(SUBSTRING(MaHDN, 4, 3) AS INT)), 0) FROM HOADONNHAPHANG);
    INSERT INTO HOADONNHAPHANG (MaHDN, NgayNhap, TongTien, MaNCC, MaQL, GhiChu, TrangThai, NgayTao)
    SELECT 
        'HDN' + RIGHT('000' + CAST(@maxID + ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS VARCHAR(3)), 3),
        NgayNhap, ISNULL(TongTien, 0), MaNCC, MaQL, GhiChu, 
        ISNULL(TrangThai, 'DaHoanThanh'), GETDATE()
    FROM inserted;
END;
GO
ALTER TABLE [dbo].[HOADONNHAPHANG] ENABLE TRIGGER [trg_AutoID_HDN]
GO
/****** Object:  Trigger [dbo].[trg_AutoID_NGUOIDUNG]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- TRIGGER 1: Tự sinh mã NGUOIDUNG
CREATE TRIGGER [dbo].[trg_AutoID_NGUOIDUNG]
ON [dbo].[NGUOIDUNG]
INSTEAD OF INSERT
AS
BEGIN
    DECLARE @maxID INT = (SELECT ISNULL(MAX(CAST(SUBSTRING(MaUser, 3, 3) AS INT)), 0) FROM NGUOIDUNG);
    INSERT INTO NGUOIDUNG (MaUser, TenNguoiDung, MatKhau, Email, SDT, DiaChi, Role, TrangThai, NgayTao)
    SELECT 
        'US' + RIGHT('000' + CAST(@maxID + ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS VARCHAR(3)), 3),
        TenNguoiDung, MatKhau, Email, SDT, DiaChi, Role,
        ISNULL(TrangThai, 'HoatDong'), GETDATE()
    FROM inserted;
END;
GO
ALTER TABLE [dbo].[NGUOIDUNG] ENABLE TRIGGER [trg_AutoID_NGUOIDUNG]
GO
/****** Object:  Trigger [dbo].[trg_AutoID_NHACUNGCAP]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- TRIGGER 2: Tự sinh mã NHACUNGCAP
CREATE TRIGGER [dbo].[trg_AutoID_NHACUNGCAP]
ON [dbo].[NHACUNGCAP]
INSTEAD OF INSERT
AS
BEGIN
    DECLARE @maxID INT = (SELECT ISNULL(MAX(CAST(SUBSTRING(MaNCC, 4, 3) AS INT)), 0) FROM NHACUNGCAP);
    INSERT INTO NHACUNGCAP (MaNCC, TenNCC, SDT, DiaChi, Email, TrangThai, NgayTao)
    SELECT 
        'NCC' + RIGHT('000' + CAST(@maxID + ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS VARCHAR(3)), 3),
        TenNCC, SDT, DiaChi, Email, ISNULL(TrangThai, 'HoatDong'), GETDATE()
    FROM inserted;
END;
GO
ALTER TABLE [dbo].[NHACUNGCAP] ENABLE TRIGGER [trg_AutoID_NHACUNGCAP]
GO
/****** Object:  Trigger [dbo].[trg_UpdateSoLuongTonSauNhap]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- TRIGGER 7: Cập nhật số lượng tồn sau nhập hàng (TRANSACTION + CURSOR logic)
CREATE TRIGGER [dbo].[trg_UpdateSoLuongTonSauNhap]
ON [dbo].[PHIEUNHAP]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Cập nhật số lượng tồn
        UPDATE s
        SET s.SoLuongTon = s.SoLuongTon + i.SoLuong,
            s.NgayCapNhat = GETDATE(),
            s.TrangThai = CASE 
                WHEN s.TrangThai = 'HetHang' THEN 'HoatDong'
                ELSE s.TrangThai
            END
        FROM SANPHAM s
        INNER JOIN inserted i ON s.MaSP = i.MaSP;

        -- Cập nhật tổng tiền hóa đơn nhập
        UPDATE h
        SET h.TongTien = (
            SELECT ISNULL(SUM(SoLuong * DonGiaNhap), 0)
            FROM PHIEUNHAP
            WHERE MaHDN = h.MaHDN
        )
        FROM HOADONNHAPHANG h
        INNER JOIN inserted i ON h.MaHDN = i.MaHDN;
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
ALTER TABLE [dbo].[PHIEUNHAP] ENABLE TRIGGER [trg_UpdateSoLuongTonSauNhap]
GO
/****** Object:  Trigger [dbo].[trg_AutoID_SANPHAM]    Script Date: 12/7/2025 11:28:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- TRIGGER 4: Tự sinh mã SANPHAM
CREATE TRIGGER [dbo].[trg_AutoID_SANPHAM]
ON [dbo].[SANPHAM]
INSTEAD OF INSERT
AS
BEGIN
    DECLARE @maxID INT = (SELECT ISNULL(MAX(CAST(SUBSTRING(MaSP, 3, 3) AS INT)), 0) FROM SANPHAM);
    INSERT INTO SANPHAM (MaSP, TenSP, DonGia, DonViTinh, SoLuongTon, HinhAnh, MoTa, MaNCC, MaDM, TrangThai, NgayTao)
    SELECT 
        'SP' + RIGHT('000' + CAST(@maxID + ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS VARCHAR(3)), 3),
        TenSP, DonGia, DonViTinh, ISNULL(SoLuongTon, 0), HinhAnh, MoTa, MaNCC, MaDM, 
        ISNULL(TrangThai, 'HoatDong'), GETDATE()
    FROM inserted;
END;
GO
ALTER TABLE [dbo].[SANPHAM] ENABLE TRIGGER [trg_AutoID_SANPHAM]
GO
